BackEnd/target/
BackEnd/!.mvn/wrapper/maven-wrapper.jar

### STS ###
BackEnd/.apt_generated
BackEnd/.classpath
BackEnd/.factorypath
BackEnd/.project
BackEnd/.settings
BackEnd/.springBeans
BackEnd/.sts4-cache

### IntelliJ IDEA ###
BackEnd/.idea
BackEnd/*.iws
BackEnd/*.iml
BackEnd/*.ipr

### NetBeans ###
BackEnd/nbproject/private/
BackEnd/build/
BackEnd/nbbuild/
BackEnd/dist/
BackEnd/nbdist/
BackEnd/.nb-gradle/
